<footer>
   <main>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-2">
					<div class="first">
						<h5 class="contact">Contact Us</h5>
						<ul class="list-unstyled">
							<li>Contact Us</li>
							<li>Submit Ticket</li>
						</ul>
					</div>
					<div class="second">
						<h5 class="about">About</h5>
						<ul class="list-unstyled">
							<li>Contact Us</li>
							<li>Submit Ticket</li>
							<li>Submit Ticket</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2">
					<div class="first">
						<h5 class="features">Key Features</h5>
						<ul class="list-unstyled">
							<li>Backup & Restore</li>
							<li>WooCommerce Backup</li>
							<li>Migration</li>
							<li>Staging</li>
							<li>WordPress Merge</li>
							<li>White Label Solution</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="first">
						<h5 class="comparison">Comparison Pages</h5>
						<ul class="list-unstyled">
							<li>BlogVault vs BackupBuddy</li>
							<li>BlogVault vs InfiniteWP</li>
							<li>BlogVault vs ManageWP</li>
							<li>BlogVault vs UpdraftPlus</li>
							<li>BlogVault vs VaultPress</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2">
					<div class="first">
						<h5 class="help">Help Resources</h5>
						<ul class="list-unstyled">
							<li>FAQ</li>
							<li>Help Docs</li>
							<li>Support</li>
						</ul>
					</div>
					<div class="second-less">
						<h5 class="affiliate">Affiliate Partners</h5>
						<ul class="list-unstyled">
							<li>Become An Affiliate</li>
							<li>See Our Partners</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<div class="first">
						<h5 class="artical">Top Articals</h5>
						<p>Unlimited Backup Plugin Guide Multisite Wordpress Backups Best WooCommerce Backups Wordpress
							Stagining with BlogVault Top 5 WordPress Security Plugins</p>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-4">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-twitter"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<a href="https://imgbb.com/"><img src="https://i.ibb.co/z6ppjSQ/bv-white-logo.png"
							alt="bv-white-logo" style="height:32px;"></a>
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item">Privacy Policy</li>
						<li class="list-inline-item">Terms Of Services</li>
						<li class="list-inline-item">GDPR</li>
						<li class="list-inline-item">Cookies Policy</li>
						<li class="list-inline-item">&copy; 2020 BlogVault All Rights Reserved</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
</footer>