<div class="course">
    <div class="row">
        <div class="col-3">
            <a name="" id="" class="btn btn-success" href="#" role="button">Học ngay</a>
            <ul>
                <li>{{course.level}}</li>
            </ul>
        </div>
        <div class="col-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.video}}" frameborder="0" allow="accelerometer;clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>